@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,700;1,700&display=swap');

.conteiner
{
    width: 960px;
    /* margin-top: 0; no comando margin esta top e botom no 0
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px; aqui esta no auto left e right */
    margin: 0 auto;
}
body{
    font-family:'Josefin Slab',serif;
    font-size: 42;
    line-height: 1.6;
}
.lugar{
    border: 1px solid #ccc;
    border-color: #ccc #999 #ccc #999;
    margin-bottom: 20px;
    padding: 10px;
}